<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/finanzas.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <title>Document</title>
</head>

<body>
    <%- include ("./templates/_navbar.ejs") %>
        <!--<header>
        <nav>
            <ul id="navegacion">
                <li class="botonNav" id="botonHome"><a href="/header">Home</a></li>
                <li class="botonNav"><a href="/diario">Todo List</a></li>
            </ul>
        </nav>
    </header>-->
        <div id="finanzas">
            <div id="datosNumericos">
                <div id="resumen">
                    <% 
                        let egresosTotales = 0;
                        let ingresosTotales = 0;
                                for(let i=flujos.length-1; i >= 0; i--){
                                    if(flujos[i].tipoFlujo == "EGRESO"){
                                        egresosTotales += flujos[i].cantidad;
                                    } else {
                                        ingresosTotales += flujos[i].cantidad;
                                    }
                                }
                             %>
                    <div id="divbalance">
                        <h2 id="balance">Balance:</h3>
                            <h1 id="numBalance" <%= (ingresosTotales - egresosTotales < 0? 'class=textoEgreso' :'') %>>$<%= ingresosTotales - egresosTotales %>
                        </h2>
                    </div>
                    <div id="balanceGrafico">
                        <div class="reflejoDatos">
                            <p>Ingresos:</p>
                            <p id="numIngreso">$<span id="ingresosTotales"><%= ingresosTotales %></span></p>
                            <!--Hago esto para poder obtener solamente el número-->
                        </div>
                        <div class="reflejoDatos">
                            <p>Egresos:</p>
                            <p id="numEgreso">$<span id="egresosTotales"><%= egresosTotales %></span></p>
                        </div>
                    </div>
                </div>
                <div id="datos">
                    <!--
                    <div id="pestañas">
                        <div id="ingresos">Ingresos</div>
                        <div id="egresos">Egresos</div>
                    </div>-->
                    <div id="divTable">
                        <table>
                            <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Cantidad</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=flujos.length-1; i >= 0; i--){ %>
                                    <tr>
                                        <td><%= flujos[i].descripcion %></td>
                                        <td <%= (flujos[i].tipoFlujo=="EGRESO"? 'class=textoEgreso' :'') %>><%= (flujos[i].tipoFlujo=="EGRESO"? '-' :'') %>$<%= flujos[i].cantidad %></td>
                                        <td><%= flujos[i].fecha?.toLocaleString() %></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <form action="/addFinanzas" method="POST" class="NewInput">
                    <input type="text" class="descripcion" name="descripcion" placeholder="Descripción">
                    <input type="number" class="cantidad" name="cantidad" id="currency-field" value="" data-type="currency"
                        placeholder="$100">
                    
                    <div class="tipoRadio">
                        <div>
                            <input type="radio" id="ingreso" name="tipoFlujo" value="INGRESO">
                            <label for="ingreso">Ingreso</label>
                        </div>
                        <div>
                            <input type="radio" id="egreso" name="tipoFlujo" value="EGRESO" checked>
                            <label for="egreso">Egreso</label>
                        </div>
                    </div>
                    <button class="submitButton" type="submit" id="Ingresar">Agregar</button>
                </form>
            </div>

            <div id="datosGraficos">
                <div class="chartBox">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    //Setup block

    /*Esta parte es mía, termina en el siguiente //*/
    let ingresos = parseInt($("#ingresosTotales").text().replace(/,/g, "")) //De esta forma borro la coma del número
    let egresos = parseInt($("#egresosTotales").text().replace(/,/g, "")) //con el parseInt lo convierto a número


    //Aquí termina
    const data = {
        labels: ['Ingresos', 'Egresos'],
        datasets: [{
            label: '',
            data: [ingresos, egresos],
            backgroundColor: [
                '#009879',
                '#dddddd'
            ],
            borderColor: [
                '#009879',
                '#dddddd'
            ],
            borderWidth: 1
        }]
    };

    //config block
    const config = {
        type: 'pie',
        data,
        options: {
        }
    };
    //render block
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

</script>

</html>